@model List<Medico>

<head>
    <link rel="stylesheet" href="~/css/depoimentos.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
        integrity="..." crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>


    <header id="navbar">
        <div id="navbar-inner">
            <a asp-controller="Home" asp-action="Index" id="backToHome" title="Voltar">
                <i class="fas fa-arrow-left"></i>
            </a>
            <h2>Profissionais e Clínicas</h2>
            <img src="~/img/logo.jfif" alt="Logo" id="logo">
        </div>
    </header>

    <section id="testimonials">
        <div class="testimonial-form">

            <h3>Especialistas Recomendados</h3>

            @foreach (var medico in Model)
            {
                <div class="testimonial-card">
                    <p><strong>@medico.Nome</strong></p>
                    <p>@medico.Especialidade</p>
                    <p>📞 @medico.Telefone | ✉️ @medico.Email</p>
                    <p><em>@medico.Clinica</em></p>
                </div>
            }
        </div>
    </section>

    <footer id="footer">
        <p>&copy; 2025 © Projeto "Descobrimos o TEA na família. E agora?</p>
    </footer>

</body>

</html>